.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 15px;
  color: white;
  margin-top: 6px;
}
.App-header img{
  margin-left: 110px;
}

.cities{
  background-color: white;
  height: 280px;
  padding: 15px;
  color: black;
}
.venuecolor{
  color: white;
  font-size: 56;
}

.venueclass{
  background-color: black;
  height: 700px;
  padding: 80px;
  color: white;
  font-size: 13px;

}
.App-title {
  font-size: 1.5em;
}
.popularclass{
  background-color: black;
  height: 500px;
  padding: 80px;
  color: red;

}
.popularspace{
    background-color: white;
      height: 6px;
}

.App-intro {
  font-size: large;
}
.myClass{
  
    background: wheat;
    
  }
.hallclass{
  background-color: white;
  height: 600px;
  padding: 80px;
  }
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
p.outset {border-style: outset;}
.menumargin{
position: absolute; 
  top: 40px; 
  left: 80; 
  width: 100%;
}
h2 span { 
   color: white;
   letter-spacing: -1px;  

   padding: 10px; 
   margin-left: 900px;
   margin-top: 200px;
   font-size: 14px;
}
h2 span a{
  margin-right:20px;
}
.contacts
{
  width:80%;
}
h2 span button
{
  background-color: #cc0000;
  color:white;
  margin-right: 17px;
  border: black;
}
h2 span a
{
  color: white;
  font-weight: normal;
}
