.App {
  text-align: center;
}



.App-header {
  background-color: #222;
  height: 97px;
  padding: 15px;
  color: white;
  margin-top: 6px;
  opacity: 0.6;
}
.App-header img{
  margin-left: 110px;
}

.cities{
  background-color: white;
  height: 280px;
  padding: 15px;
  color: black;
}
.venuecolor{
  color: white;
  font-size: 56;
}

.venueclass{
  background-color: black;
  height: 850px;
  padding: 80px;
  color: white;
  font-size: 13px;

}
.App-title {
  font-size: 1.5em;
}
.popularclass{
  background-color: black;
  height: 500px;
  padding: 80px;
  color: red;

}
.popularspace{
    background-color: white;
    height: 14px;
}

.App-intro {
  font-size: large;
}
.myClass{
  
    background: wheat;
    
  }
  .hallspace
  {
    background-color: white;
    height: 60px;
  }
.hallclass{
  background-color: white;
  height: 540px;
  }
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
p.outset {border-style: outset;}
.menumargin{
position: absolute; 
  top: 5px; 
 margin-left:-50px;
  width: 100%;
  margin-left: -750px;
}
h2 span { 
   color: white;
   letter-spacing: -1px;  

   padding: 10px; 
   margin-left: 900px;
   margin-top: 200px;
   font-size: 14px;
}
h2 span a{
  margin-right:20px;
}

.contacts
{
  width:80%;
}
h2 span button
{
  background-color: #DD2F4E;
  color:white;
  margin-right: 17px;
  border: black;
}
h2 span a
{
  color: white;
  font-weight: normal;
}

h2 span a:hover
{
  color: white;
}
.foot
{
  background-color: #0C1123;
      height: 280px;
      padding: 80px;
      padding-top: 25px;
     
}
.firstsec
{
  color: white;
  align-content: center;

}
.firstimg
{
  background-image: url("./images/venue6.jpg");
  height: 470px;
  background-size:     cover;                      
 background-repeat:   no-repeat;
 background-position: center center;  
  
}
.backimg{

  background-image: url("./images/venue6.jpg");
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;  
  height: 600px;
  
 
 }
.logclass{
    
 
  padding-top: -20px;
}
.menuclass
{
  position: absolute; 
  top: 31px;
  width: 100%;
  margin-left: 750px;
  
}

.footcss{
  background-color: #0C1123;
  height: 200px;
  color:#646878;
  padding: 20px;
  font-size:10px;
  padding-top: 12px;


 }
 .footcss h6{
   color:white;
 }

 .footerfirstsection{
margin-left:60px;

 }.footerfirstsection a{
 color:#A23438;
 }
 .secondsection
 {
      margin-left: 45px;
 }
 .thirdsection{
  margin-left: -193px;
 }
 .fourthsection{
  margin-left: -43px;
 }
 .fourthsection input{
   margin-right:4px;
 }
 .book
{
  margin-top: 138px;
  height: 171px;
  background-color: #222;
  background: rgba(0, 0, 0, 0.6);
}
.venue {
  color: white;
  text-align: center;
  padding: 14px;
}
.cityField {
  padding: 0px 3px 46px 65px;
  height:90px;
  border: 1 rgba(0, 0, 0, 0.6);
}
input {
  background-color : white;
  border: 0.5 rgba(0, 0, 0, 0.6);
}
::placeholder { 
  color: black;
}

.form-control {
  padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}
.searchIcon {
  margin-left: -25px;
  margin-top: 11px;
  font-size: 1.37em;
  color: white;
}
.fa-search {
  font-size: 1.35em;
}
.fa-angle-down {
  margin-left: -24px;
  margin-top: 16px;
  font-size: 1.3em;
  color: #5CACE3;
}
.searchField::placeholder { 
  color: white;
}
.copy
{
  background-color: #0C1123;
  color:#979899;
}
hr{
 background-color:#DA0000;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
  width:800px;
  align-content: center
}
.highlightsclass{
 
  color: red;
  }
  .redborder{
 
    border-top: 2px solid red;
    
    width:300px;
  }