.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 15px;
  color: white;
  margin-top: 6px;
}

.cities{
  background-color: white;
  height: 280px;
  padding: 15px;
  color: black;
}
.venuecolor{
  color: white;
  font-size: 56;
}

.venueclass{
  background-color: black;
  height: 800px;
  padding: 80px;
  color: red;

}
.App-title {
  font-size: 1.5em;
}
.popularclass{
  background-color: black;
  height: 500px;
  padding: 80px;
  color: red;

}
.popularspace{
    background-color: white;
      height: 70px;
}

.App-intro {
  font-size: large;
}
.myClass{
  
    background: wheat;
    
  }
.hallclass{
  background-color: white;
  height: 650px;
  padding: 80px;
  }
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
